@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  min-height: 100vh;

  background-image: url(../materials/signup.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header .regist ul li a {
  background: #fff;              
  color: #8b5cf6;               
  border: 2px solid #8b5cf6;
  border-radius: 6px;
  padding: 10px 20px;
  transition: 0.3s;
}

/* Hover */
.main-header .regist ul li a:hover {
  background: #8b5cf6;          
  color: #fff;                 
}

/* SECTION */
.login-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px; 
}


.container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* LEFT SIDE */
.left {
  width: 50%;
  padding: 40px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  padding-left: 130px;
}
.left select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  outline: none;
  color: #555;
  cursor: pointer;
  transition: 0.3s;
}

.left select:focus {
  border-color: #8b5cf6;
}

.left input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.left input:focus {
  border-color: #8b5cf6;
}


.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 10px 0;
  color: #555;
}

.options a {
  text-decoration: none;
  color: #8b5cf6;
}


.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: linear-gradient(135deg, #8b5cf6, #6d28d9);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.9;
}


.or {
  margin: 15px 0;
  font-size: 14px;
  text-align: center;
  color: #777;
}

.register-link {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}

.register-link a {
  color: #8b5cf6;
  text-decoration: none;
}

/* RIGHT SIDE*/
.right {
  width: 50%;
  position: relative;

  background: url("../materials/2844375.jpg") center/cover no-repeat;
}


.right::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(139,92,246,0.4), rgba(168,85,247,0.4));
}
